<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <!-- ionic meta tags -->
    <meta name="viewport" content="viewport-fit=cover, initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- custom meta tags -->
    <meta name="format-detection" content="telephone=no"> <!-- no auto telephone linking -->

    <meta name="apple-mobile-web-app-capable" content="yes"> <!-- can be saved to home screen on ios -->
    <title>IOTile-M</title>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
      <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
  </head>
  <body>

    <!-- the nav bar will be updated as we navigate between views -->
    <!-- <ion-nav-bar> can be removed when using sidemenu (contained in menu.html) -->
    <ion-nav-bar class="bar-royal">
    </ion-nav-bar>
    <!-- the current view will be rendered in the <ion-nav-view> directive -->
    <ion-nav-view></ion-nav-view>

    <!-- will be a 404 during development -->
    <script src="cordova.js"></script>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    <% if (htmlWebpackPlugin.options.devServer) { %>
      <script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
    <% } %>
    <script type="text/javascript">
        angular.element(document).ready(function () {
          if (window.cordova) {
            document.addEventListener('deviceready', function () {
              angular.bootstrap(document.body, ['iotileM']);
            }, false);
          } else {
            angular.bootstrap(document.body, ['iotileM']);
          }
        });
    </script>
  </body>
</html>
