<ion-view view-title="Device Label">
  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>
  <ion-content>
    <div class="item item-icon-left item-assertive item-text-wrap" ng-if="vm.error">
      <i class="icon ion-alert-circled"></i>
      <p style="color: white;"><b>{{ vm.error }}</b></p>
    </div>
    <form name="labelForm" novalidate>
    <ion-list>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Device Label: </span>
        <input type="text" ng-model="vm.label" ng-maxlength="60" placeholder="<Enter Data Label>" name="deviceLabel">
      </label>
      <label class="item" ng-show="labelForm.deviceLabel.$error.maxlength">Max Length is 60 characters</label> 
    </ion-list>
    </form>
    <div class="card">
      <div class="item item-text-wrap">
        <small>
        Your default device label is the ID number assigned to it.
        Feel free to give it a unique name!
        </small>
      </div>
    </div>
  </ion-content>
  <walkthrough-footer ng-if="vm.walkthroughActive()" callback="vm.saveClick()"></walkthrough-footer>
  <ion-footer-bar ng-if="!vm.walkthroughActive()" align-title="center" class="bar-positive">
    <div class="button-bar">
      <a ng-click="vm.cancelClick()" class="button button-assertive icon-left ion-close-circled">Cancel</a>
      <a ng-click="vm.saveClick()" class="button button-balanced icon-left ion-checkmark-round">Save</a>
    </div>
  </ion-footer-bar>
</ion-view>
