<ion-modal-view class="">
  <div class="ion-modal-content-stream-adjustments">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Select a Server</h1>
    </ion-header-bar>
    <ion-content>
      <ion-item class="item-icon-right" ng-repeat="server in vm.choices"
                ng-click="vm.onSelectServer(server)">
        <h2>{{ server.shortName }}</h2>
        <i class="icon ion-ios-checkmark" ng-if="server === vm.selected"></i>
      </ion-item>
    </ion-list>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-positive">
      <div class="button-bar">
        <a ng-disabled="!(vm.selected)" ng-click="vm.onSave()" class="button button-balanced icon-left ion-checkmark-round">Select</a>
      </div>
    </ion-footer-bar>
  </div>
</ion-modal-view>
